.castPreview {
  padding: 0;
  width: 80%;
  margin: initial;
}
.castMember {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  a {
    width: 40%;
  }
}
.castPerson {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.castCharacter {
  width: 55%;
  p {
    width: 100%;
  }
}
.castUl {
  padding: 1rem 0;
}
.castImage {
  max-width: 40px;
  margin-right: 1rem;
}
@media (max-width: 900px) {
  .castPreview {
    padding: 0;
    width: 100%;
  }
}
