$primaryColor: #fafafb;
$secondaryColor: #e0e1e2;
$darkColor: #222933;
$lightColor: #ededed;
$highlight: #3d4652;

@function textColor($color) {
  @if (lightness($color) > 50) {
    @return black;
  } @else {
    @return white;
  }
}

@mixin bgColor($color) {
  background-color: $color;
  color: textColor($color);
}
