.episodes {
  width: 100%;
  margin: auto;
  padding: 2.5rem;

  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
  }

  .episode {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;

    img {
      padding: 1rem 0;
      align-self: flex-start;
    }
    p {
      padding: 0.25rem 0;
    }
  }
}
@media (max-width: 900px) {
  .episodes {
    padding: 0;
    .episode {
      align-items: center;
      margin: 1.5rem 0 0 0;
      img {
        align-self: center;
        width: 70%;
      }
    }
  }
}
