.seasons {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
}

.seasonsPoster {
  margin: 0.5rem auto;
}
.seasonSelect {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;

  cursor: pointer;
}

@media (max-width: 900px) {
  .seasons {
    flex-direction: column;
    align-items: center;
    .seasonsShowInfo {
      h2 {
        text-align: center;
      }
    }

    .seasonsPoster {
      display: block;
    }
  }
  .seasonSelect {
    margin: auto;
  }
}
