.searchbar {
  // width: 35%;
  height: 100%;
  // width: 30%;
  // width: 30%;
  grid-area: searchbar;
}

// display: flex;
// flex-direction: column;
// // margin-right:.5rem;
// width: 100%;

.searchBox {
  align-items: stretch;
  justify-items: stretch;

  display: grid;
  grid-template-columns: 5fr 1.5fr 0.5fr;
  grid-template-areas:
    "input select searchBtn"
    "results results results";
  // display: flex;
  width: 100%;
}
select {
  border: 1px solid $highlight;
  border-left: none;
  // width: 20%;
  outline: none;
  grid-area: select;
}

#searchInput {
  padding: 0.5rem;
  border: 1px solid $highlight;
  outline: none;
  // width: 70%;
  grid-area: input;
  // &:focus {
  //   ~ .searchResults {
  //     display: block;
  //   }
  // }
}

.searchbarMobile {
  width: 90%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-end;

  form {
    width: 100%;
  }
  .mobileBtn {
    background-color: $highlight;
    color: white;
    border: none;
    outline: none;
    font-size: 1.3rem;
    &:hover {
      color: $secondaryColor;
    }
    &:active {
      color: red;
    }
  }
}
#searchboxMobile {
  width: 100%;
  margin-top: 1rem;
  display: none;
}
.liveSearchItem {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  padding: 0.3rem;
  font-size: 14px;

  p {
    justify-self: right;
    word-break: break-all;
  }
  img {
    margin-right: 0.5rem;
  }
}
// .mobileBtn {
//   display: none;
//   color: $highlight;
//   padding: 0.3rem 0.5rem;
//   font-size: 1.3rem;
//   justify-self: flex-end;
// }
.searchResults {
  width: 100%;
  border: 1px solid $highlight;
  grid-area: results;
  z-index: 
  // display: none; ul {
    width: 100%;
  }

  // div {
  //   svg {
  //     position: relative;
  //     top: 50%;
  //     left: 50%;
  //   }
  // }
}
.searchResult {
  margin: 0.15rem 0;
}
.liveSearchImg {
  height: 20px;
}
.searchBtn {
  background-color: #f3f5f9;
  border: 1px solid $highlight;
  border-left: none;
  outline: none;
  padding: 0 0.5rem;
  grid-area: searchBtn;
  // width: 10%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

@media (max-width: 900px) {
  .searchbar {
    // display: none;
    visibility: hidden;
  }
  .searchbarMobile {
    display: flex;
  }
}
@media (min-width: 901px) {
  .searchbar {
    // display: block;
  }
}
