.lightBg {
  @include bgColor($lightColor);
}
.darkBg {
  @include bgColor($primaryColor);
}
.secondaryBg {
  @include bgColor($secondaryColor);
}
.highlight {
  @include bgColor($highlight);
}
.container {
  width: 60%;
  margin: auto;
  padding: 1rem 2rem;
  margin-top: 8rem;
}
.btn {
  margin: auto;
  padding: 0.5rem 1rem;
  display: block;
  border: none;
  outline: none;
  @include bgColor($highlight);
  &:hover {
    background-color: $darkColor;
  }
}

.loader {
  position: absolute;
  top: 45%;
  left: 47%;

  div {
    svg {
      margin: auto;
      display: block;
    }
  }
}
.innerLoader {
  width: 100%;
  height: 100%;
  div {
    position: relative;
    top: 45%;
    left: 45%;
  }
}
.loader {
  color: $highlight;
  height: "100";
  width: "100";
}

.nthLi {
  li {
    &:nth-child(odd) {
      @include bgColor($lightColor);
    }
  }
}

@media (max-width: 1300px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 900px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
    // margin-top: 20%;
  }
  .posterImg {
    height: 200px;
  }
  .imgSmall {
    height: 60px;
  }
}
@media (max-width: 766px) {
  .container {
    padding: 1rem;
  }
}
