@import "config";
@import "utility";
@import "schedule";
@import "show";
@import "showPreview";
@import "header";
@import "castPreview";
@import "seasons";
@import "episodes";
@import "castCrew";
@import "person";
@import "searchResult";
@import "searchbar.scss";
@import "footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.9rem;
}

body {
  line-height: 1.5;

  background-color: $primaryColor;
  color: $primaryColor;
  font-family: "Open Sans", "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.highlight {
  color: #c5c6c7;
}
a {
  text-decoration: none;
  color: #192d51;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
button {
  cursor: pointer;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  &::-moz-focus-inner {
    border: none;
  }
}
.rating {
  text-align: right;
  font-size: 1.3rem;

  i {
    color: gold;
  }
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
option {
  width: 100%;
}
